@import "_variables.scss";
@import "_admin_components.scss";

/*******************************************************
                  EVENT CREATE PAGE
*******************************************************/
.uploadswrapper{
    min-height: 20vh;
    max-height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: auto;
    cursor: pointer;
    // border: 1px dashed $gray-400;
    .inner-wrapper{

    }
}

.event-media-wrapper{
    background-color: rgba(255,255,255,.9)
}
.media_elements_wrapper{
  max-height: 40vh;
  overflow-y: auto;
}

.event-media-wrapper{
    position: relative;
}

.removeMed{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    span{
      border: 2px solid #222;
      position: relative;
      border-radius: 40%;
      font-size: 16px;
      color: #eee;
      background-color: rgba( #222,.6 );
    }
    &:hover{
      span{
        color: #fff;
        background: #222;

      }
    }
}

.artist-item{
  background-color: $gray-900;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 10rem;
  max-height: 25rem;
  position: relative;
  span{
      width: 100%;
      position: absolute;
      bottom: 0;
      // padding: 16px auto;
      line-height: 2;
      text-align: center;
      background-color: rgba($black,.5);
      color: $white;
  }
}

.display-media{
  position: relative;
  div.links{
    position: absolute;
    top:0;
    right:0;
    padding-right: 1em;
    z-index: 5;

  }

}
